<!doctype html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <title>Project</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/static/styles.f97468c5142541c5f949.css"></head>

<body>
  <app-root></app-root>
<script type="text/javascript" src="/static/runtime.aa6626a86220b9e163ba.js"></script><script type="text/javascript" src="/static/polyfills.198d1d48b97f1156caa8.js"></script><script type="text/javascript" src="/static/main.fcd2fd31e4e70f8d6fc6.js"></script></body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>


</html>